@using Firehose.Web.Infrastructure
@using Firehose.Web.Extensions

@model IAmACommunityMember

<div class="col-md-4 profileCard" id="@Model.GetType().Name">
    <img class="mugShot" src="@Model.GravatarImage()" alt="@Model.FirstName @Model.LastName"/>
    <div class="mugShotBorder">
    </div>
    <div class="profileCardWrapper">

        @if (string.IsNullOrWhiteSpace(Model.Pronouns))
        {
            <p class="name">@Model.FirstName @Model.LastName</p>
        }
        else
        {
            <p class="name">@Model.FirstName @Model.LastName (@Model.Pronouns)</p>
        }
        <p class="twitter">
            <a href="https://twitter.com/@Model.TwitterHandle">@@@Model.TwitterHandle</a>
        </p>
        <p class="mastodon">
            @if (!string.IsNullOrWhiteSpace(Model.MastodonHandle))
            {
                <a href="https://@(Model.MastodonHandle.Split('@')[2])/&#64;@(Model.MastodonHandle.Split('@')[1])">@Model.MastodonHandle</a>
            }
        </p>

        <p class="description">
            @if (!string.IsNullOrWhiteSpace(Model.ShortBioOrTagLine))
            {

                if (Model is IWorkAtMicrosoft)
                {
                    <text>@Model.FirstName @Model.LastName @Model.ShortBioOrTagLine at Microsoft</text>
                }
                else
                {
                    if (Model is IAmAMicrosoftMVP)
                    {
                        <text>@Model.FirstName @Model.LastName is a Microsoft MVP who @Model.ShortBioOrTagLine</text>
                    }
                    else
                    {
                        <text>@Model.FirstName @Model.LastName @Model.ShortBioOrTagLine</text>
                    }
                }
            }
        </p>

        <p class="location">
            <i class="fa-solid fa-location-dot"></i> @Model.StateOrRegion</p>
        <p class="website">
            <a href="@(Model.WebSite.ToString())" title="@Model.WebSite.ToString()">@Model.WebSite.ToString()</a>
        </p>
    </div>
</div>
